@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic&subset=latin,latin-ext);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#outdated {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  letter-spacing: 1px;
  display: none;
  background-color: #f2b635;
  color: #fff; }
  #outdated .outdatedbrowser-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 19px; }
    #outdated .outdatedbrowser-header #outdatedbrowser-close {
      font-size: 40px;
      z-index: 20;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 70px;
      line-height: 70px;
      color: #fff; }
    #outdated .outdatedbrowser-header div {
      margin: 0 auto 2px;
      text-align: center;
      font-size: 19px;
      font-weight: 800; }
    #outdated .outdatedbrowser-header p {
      font-size: 12px;
      margin: 0 70px;
      text-align: center;
      font-weight: 300; }
    #outdated .outdatedbrowser-header:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: '';
      width: 100%;
      height: 100%; }
  #outdated .outdatedbrowser-blocks > div {
    width: 20.1%;
    height: 100%;
    position: absolute;
    background: red; }
    #outdated .outdatedbrowser-blocks > div > div {
      position: absolute;
      top: 35%;
      left: 0;
      width: 100%;
      height: 40%; }
      #outdated .outdatedbrowser-blocks > div > div span {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto 35px;
        background-image: url(../img/browsers.png);
        background-repeat: no-repeat;
        background-size: auto 95px; }
      #outdated .outdatedbrowser-blocks > div > div div {
        text-align: center;
        font-size: 15px;
        font-size: 13px;
        margin: 0 10px; }
      #outdated .outdatedbrowser-blocks > div > div a {
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        box-sizing: border-box;
        border-radius: 16px;
        height: 30px;
        margin: 22px auto 0;
        display: block;
        text-align: center;
        line-height: 30px;
        background: #fff;
        color: #f2b635;
        width: 100px; }
    #outdated .outdatedbrowser-blocks > div.item-1 {
      left: 0;
      background: #f2b635; }
      #outdated .outdatedbrowser-blocks > div.item-1 a {
        color: #f2b635; }
    #outdated .outdatedbrowser-blocks > div.item-2 {
      left: 20%;
      background: #f19a2a; }
      #outdated .outdatedbrowser-blocks > div.item-2 > div > span {
        background-position: -100px 0; }
      #outdated .outdatedbrowser-blocks > div.item-2 a {
        color: #f19a2a; }
    #outdated .outdatedbrowser-blocks > div.item-3 {
      left: 40%;
      background: #00caff; }
      #outdated .outdatedbrowser-blocks > div.item-3 > div > span {
        background-position: -200px 0; }
      #outdated .outdatedbrowser-blocks > div.item-3 a {
        color: #00caff; }
    #outdated .outdatedbrowser-blocks > div.item-4 {
      left: 60%;
      background: #00a0e6; }
      #outdated .outdatedbrowser-blocks > div.item-4 > div > span {
        background-position: -300px 0; }
      #outdated .outdatedbrowser-blocks > div.item-4 a {
        color: #00a0e6; }
    #outdated .outdatedbrowser-blocks > div.item-5 {
      left: 80%;
      background: #f25648; }
      #outdated .outdatedbrowser-blocks > div.item-5 > div > span {
        background-position: -400px 0; }
      #outdated .outdatedbrowser-blocks > div.item-5 a {
        color: #f25648; }
    #outdated .outdatedbrowser-blocks > div:hover a {
      opacity: 1; }
  #outdated .outdatedbrowser-blocks.hover .item {
    width: 17%; }
    #outdated .outdatedbrowser-blocks.hover .item.item-2 {
      left: 17%; }
    #outdated .outdatedbrowser-blocks.hover .item:hover {
      width: 28%; }

@media (max-width: 900px) {
  #outdated .outdatedbrowser-blocks > div > div div {
    height: 30px; } }

@media (max-width: 768px) {
  #outdated {
    overflow: scroll; }
    #outdated .outdatedbrowser-header {
      position: relative; }
    #outdated .outdatedbrowser-blocks {
      position: static; }
      #outdated .outdatedbrowser-blocks > div {
        position: static;
        width: 100%;
        padding: 40px;
        box-sizing: border-box; }
        #outdated .outdatedbrowser-blocks > div > div {
          position: static; } }

/* all of the custom mixins */
/* IE specific mixins */
/* clearfix */
html, body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  min-height: 100vh; }

::-webkit-scrollbar {
  display: none; }

input {
  -webkit-appearance: none; }

.design {
  display: none;
  left: 0;
  opacity: .5;
  position: absolute;
  z-index: 99; }

.bodyscroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  @media screen and (max-width: 1023px) {
    .bodyscroll {
      overflow-y: visible; } }
  @media screen and (max-width: 767px) {
    .bodyscroll {
      background-color: #24383d; } }

.wrapper {
  height: 100%; }

.column {
  overflow: hidden;
  *zoom: 1;
  display: block;
  padding-left: 20px;
  padding-right: 30px;
  width: calc(100% - 30px); }
  @media screen and (min-width: 769px) {
    .column {
      float: left;
      height: 100vh;
      padding-left: 40px;
      padding-right: 40px;
      width: 280px; } }
  .column h2 {
    font-size: 36px;
    line-height: 1.1;
    padding-bottom: 21px;
    padding-right: 30px;
    padding-top: 21px; }
  .column .column-text {
    padding-bottom: 20px; }

.section {
  overflow: hidden;
  *zoom: 1; }
  @media screen and (min-width: 769px) {
    .section {
      display: block;
      height: 100vh;
      width: 100%; } }

.right {
  display: block;
  float: left;
  width: calc(100% - 360px);
  height: 100%; }
  @media screen and (max-width: 768px) {
    .right {
      display: none; } }

.button {
  display: block;
  border: solid 2px #fff;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0);
  width: 276px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  transition: all .2s;
  cursor: pointer;
  margin-top: 19px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .button:active {
    background-color: white;
    color: #de5dd4; }
  .button:active, .button:hover {
    padding-top: 13px;
    padding-bottom: 13px; }
  @media screen and (max-width: 321px) {
    .button {
      margin-left: 0; } }

.disabled {
  opacity: .3; }

p {
  line-height: 1.5; }

.mob-nav {
  width: 100%;
  background: black;
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  z-index: 31;
  transition: all .5s; }
  @media screen and (min-width: 769px) {
    .mob-nav {
      width: 210px;
      height: 53px; } }
  .mob-nav.transparent {
    background: transparent; }
    .mob-nav.transparent .small-logo {
      opacity: 0; }
  .mob-nav .small-logo {
    position: absolute;
    top: -3px;
    display: block;
    height: 29px;
    width: 151px;
    left: 20px;
    padding-top: 20px;
    padding-bottom: 18px;
    opacity: 1;
    transition: all .5s;
    z-index: 35;
    background: url(../img/logo.svg) no-repeat 50% 50%;
    background-size: 151px; }
  .mob-nav .nav-toggle {
    display: block;
    padding: 20px 20px 20px 10px;
    float: right;
    cursor: pointer; }
    @media screen and (min-width: 769px) {
      .mob-nav .nav-toggle {
        padding: 15px 15px 15px 20px;
        background: #1e1e1c; } }
    .mob-nav .nav-toggle .nav-bar {
      display: block;
      background-color: #ffffff;
      width: 26px;
      height: 3px;
      margin-bottom: 7px; }
      .mob-nav .nav-toggle .nav-bar:last-child {
        margin-bottom: 0; }
  .mob-nav .lang a {
    padding: 23px 20px 31px 20px;
    position: absolute;
    top: 0px;
    right: 55px;
    color: #fff;
    text-decoration: none; }
    @media screen and (min-width: 769px) {
      .mob-nav .lang a {
        padding: 17px 20px 20px 20px;
        background: #1e1e1c; } }

#landing {
  background: -owg-linear-gradient(0deg, rgba(251, 88, 88, 0.8) 0%, rgba(123, 85, 200, 0.8) 100%);
  background: -webkit-linear-gradient(0deg, rgba(251, 88, 88, 0.8) 0%, rgba(123, 85, 200, 0.8) 100%);
  background: -moz-linear-gradient(0deg, rgba(251, 88, 88, 0.8) 0%, rgba(123, 85, 200, 0.8) 100%);
  background: -o-linear-gradient(0deg, rgba(251, 88, 88, 0.8) 0%, rgba(123, 85, 200, 0.8) 100%);
  background: linear-gradient(0deg, rgba(251, 88, 88, 0.8) 0%, rgba(123, 85, 200, 0.8) 100%);
  margin-left: 0;
  margin-right: 0;
  transition: all .3s;
  position: relative; }

.front .column {
  padding-bottom: 29px;
  color: #fff;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/landing.png);
  padding-top: 130px;
  z-index: 29; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .front .column {
      background-image: url('../img/2x/landing.png'); } }
  @media screen and (min-width: 769px) {
    .front .column {
      padding-top: 34.4vh;
      background-image: none;
      padding-bottom: 0; } }
  .front .column img.front-logo {
    display: block;
    width: 280px;
    margin-left: autWo;
    margin-right: auto; }
    @media screen and (max-width: 321px) {
      .front .column img.front-logo {
        margin-left: 0; } }
  .front .column .column-text {
    padding: 103px 2px 18px 0; }
    @media screen and (min-width: 769px) {
      .front .column .column-text {
        padding: 17vh 0vh 3.2vh 0vh; } }
.front .right {
  position: relative; }
  .front .right .front-selection {
    height: 100vh;
    position: relative;
    overflow: hidden; }
    .front .right .front-selection .front-image {
      z-index: 1;
      position: absolute;
      height: 100%;
      overflow: hidden;
      right: 0px; }
      @media screen and (max-width: 1025px) {
        .front .right .front-selection .front-image {
          right: -150px; } }
      .front .right .front-selection .front-image svg {
        width: 100%;
        height: 100%; }
        .front .right .front-selection .front-image svg path {
          transition: all .5s;
          fill: transparent;
          cursor: pointer; }
      .front .right .front-selection .front-image .build-button {
        position: absolute;
        border-radius: 50%;
        padding: 6px;
        text-align: center;
        transition: background 0.3s;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.3); }
        .front .right .front-selection .front-image .build-button .button-in {
          transition: all 0.3s;
          position: relative;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          padding: 8px 6px 4px 6px; }
        .front .right .front-selection .front-image .build-button.built {
          background: rgba(0, 0, 0, 0.3);
          color: #1f1f1f; }
          .front .right .front-selection .front-image .build-button.built .button-in {
            background: rgba(255, 255, 255, 0.8); }
          .front .right .front-selection .front-image .build-button.built.active {
            color: #fff; }
            .front .right .front-selection .front-image .build-button.built.active .button-in {
              background: rgba(85, 85, 82, 0.8); }
              .front .right .front-selection .front-image .build-button.built.active .button-in:active {
                background: rgba(0, 0, 0, 0.8); }
            .front .right .front-selection .front-image .build-button.built.active .build-info {
              opacity: 1; }
        .front .right .front-selection .front-image .build-button.not-built {
          border: solid 1px rgba(0, 0, 0, 0.3);
          color: rgba(0, 0, 0, 0.3); }
          .front .right .front-selection .front-image .build-button.not-built .button-in {
            border: solid 1px rgba(0, 0, 0, 0.3); }
          .front .right .front-selection .front-image .build-button.not-built.active .button-in {
            background: rgba(80, 80, 77, 0.3); }
      .front .right .front-selection .front-image .build-info {
        transition: all 0.3s;
        opacity: 0;
        background: rgba(12, 22, 30, 0.9);
        position: absolute;
        top: -20px;
        left: 48px;
        width: auto;
        min-width: 100px;
        text-align: left;
        padding: 12px 15px;
        font-size: 14px;
        color: #fff; }
      .front .right .front-selection .front-image .build-a {
        top: 21%;
        right: 52%; }
      .front .right .front-selection .front-image .build-b {
        top: 28%;
        right: 32%; }
      .front .right .front-selection .front-image .build-c {
        top: 18%;
        right: 16%; }
    .front .right .front-selection .switch {
      cursor: pointer;
      color: #fff;
      display: block;
      z-index: 999;
      position: absolute;
      text-align: center;
      top: 13px;
      left: 20px;
      border: solid 1px rgba(255, 255, 255, 0.2);
      border-radius: 25px;
      transition: all 0.2s;
      padding: 2px 20px 5px 35px; }
      .front .right .front-selection .switch.night {
        padding: 2px 35px 5px 20px; }
        .front .right .front-selection .switch.night .toggler {
          left: 65px; }
          .front .right .front-selection .switch.night .toggler .toggler-icon {
            background-image: url('../img/toggle-moon.svg'); }
      .front .right .front-selection .switch .toggler {
        position: absolute;
        width: 31px;
        height: 31px;
        top: -4px;
        transition: all 0.2s;
        background: url('../img/toggler.svg');
        left: -2px; }
        .front .right .front-selection .switch .toggler .toggler-icon {
          background-position: 50% 50%;
          background-repeat: no-repeat;
          width: inherit;
          height: inherit;
          transition: all 0.2s;
          background-image: url('../img/toggle-sun.svg'); }

.house .column {
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px; }
  .house .column .house-actions {
    height: 48px;
    position: relative;
    width: calc(100% + 40px);
    margin: 24px -20px 0 -20px;
    overflow: hidden;
    *zoom: 1; }
    .house .column .house-actions .house-overlay-close {
      cursor: pointer;
      position: absolute;
      height: inherit;
      padding-top: 14px; }
      .house .column .house-actions .house-overlay-close > span {
        padding: 11px 12px;
        border: solid 2px #1e1e1c;
        border-radius: 48px;
        margin-right: 12px; }
        .house .column .house-actions .house-overlay-close > span svg path {
          fill: #1e1e1c;
          transition: all .3s; }
      .house .column .house-actions .house-overlay-close:hover span {
        background: rgba(29, 29, 27, 0.1); }
      .house .column .house-actions .house-overlay-close:active span {
        background: #1e1e1c; }
        .house .column .house-actions .house-overlay-close:active span svg path {
          fill: #fff; }
    .house .column .house-actions .house-navigation {
      height: inherit;
      width: auto; }
      .house .column .house-actions .house-navigation .house-prev-arr {
        cursor: pointer;
        padding: 14px 18px;
        border: solid 2px #1e1e1c;
        border-radius: 48px;
        position: absolute;
        right: 110px;
        transition: all .3s; }
        .house .column .house-actions .house-navigation .house-prev-arr svg path {
          fill: #1e1e1c;
          transition: all .3s; }
        .house .column .house-actions .house-navigation .house-prev-arr:hover {
          background: rgba(29, 29, 27, 0.1); }
        .house .column .house-actions .house-navigation .house-prev-arr:active {
          background: #1e1e1c; }
          .house .column .house-actions .house-navigation .house-prev-arr:active svg path {
            fill: #fff; }
      .house .column .house-actions .house-navigation .house-title {
        height: inherit;
        padding-top: 8px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 60px;
        right: 50px; }
      .house .column .house-actions .house-navigation .house-next-arr {
        padding: 14px 18px;
        border: solid 2px #1e1e1c;
        border-radius: 48px;
        cursor: pointer;
        position: absolute;
        right: 0;
        background: transparent;
        transition: all .3s; }
        .house .column .house-actions .house-navigation .house-next-arr svg path {
          fill: #1e1e1c;
          transition: all .3s; }
        .house .column .house-actions .house-navigation .house-next-arr:hover {
          background: rgba(29, 29, 27, 0.1); }
        .house .column .house-actions .house-navigation .house-next-arr:active {
          background: #1e1e1c; }
          .house .column .house-actions .house-navigation .house-next-arr:active svg path {
            fill: #fff; }
  .house .column .house-text {
    padding-top: 90%;
    padding-top: 31.5vh;
    padding-bottom: 8%;
    padding-bottom: 3vh;
    padding-top: 180%;
    padding-top: 63vh;
    margin-top: -253px;
    line-height: 24px; }
  .house .column .house-action-text {
    font-weight: 600;
    padding-bottom: 56%;
    padding-bottom: 19.5vh;
    line-height: 24px; }
  .house .column .contact {
    border-color: #1d1d1b;
    color: #1d1d1b; }
    .house .column .contact:hover {
      background: rgba(29, 29, 27, 0.1); }
    .house .column .contact:active {
      background: #1e1e1c;
      color: #fff; }
.house .floor-stripe {
  display: block;
  float: left;
  width: 60px;
  height: 100vh;
  color: #fff;
  border-leftbottom: solid 11px #fff; }
  .house .floor-stripe .floor-label {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 20px;
    margin: 15px 0 24px -20px;
    padding: 15px 20px 20px 25px;
    width: 60px;
    border-left: solid 1px rgba(29, 29, 27, 0.2); }
  .house .floor-stripe .floor-sel {
    color: #fff;
    cursor: pointer;
    display: block;
    width: inherit;
    text-align: center;
    padding-top: 20px;
    margin-right: 15px;
    padding-bottom: 20px;
    text-decoration: none;
    position: relative;
    border-bottom: solid 1px rgba(29, 29, 27, 0.2); }
    .house .floor-stripe .floor-sel:hover, .house .floor-stripe .floor-sel.active {
      background: rgba(0, 0, 0, 0.17); }
      .house .floor-stripe .floor-sel:hover:after, .house .floor-stripe .floor-sel.active:after {
        background: url(../img/floor-hover.png); }
  .house .floor-stripe .sel-border {
    display: none; }
  .house .floor-stripe.bordered {
    width: 65px; }
    .house .floor-stripe.bordered .floor-label {
      border-bottom: solid 11px #fff;
      margin: 15px 0 19px -15px;
      padding: 15px 20px 20px 25px; }
    .house .floor-stripe.bordered .floor-sel:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      background: red;
      color: blue;
      background: url(../img/floor-stripe-bg.png);
      border-top: solid 1px #fff; }
    .house .floor-stripe.bordered .floor-sel:hover:after, .house .floor-stripe.bordered .floor-sel.active:after {
      background: url(../img/floor-hover.png); }
    .house .floor-stripe.bordered .sel-border {
      display: block;
      width: 60px;
      height: 100%;
      border-right: solid 5px #fff; }
.house .floor-title {
  height: 100vh;
  display: block;
  float: left;
  background: #fff;
  width: 50px; }
  .house .floor-title .floor-title-text {
    padding: 5px;
    width: 140px;
    height: 120px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
.house .shadow {
  width: 5px;
  height: 100vh;
  display: block;
  float: left;
  background: -owg-linear-gradient(90deg, #ffffff 0%, #d4d4d4 100%);
  background: -webkit-linear-gradient(90deg, #ffffff 0%, #d4d4d4 100%);
  background: -moz-linear-gradient(90deg, #ffffff 0%, #d4d4d4 100%);
  background: -o-linear-gradient(90deg, #ffffff 0%, #d4d4d4 100%);
  background: linear-gradient(90deg, #ffffff 0%, #d4d4d4 100%); }
.house .right {
  background: #fff;
  width: calc(100% - 520px); }
  .house .right .floor-selection {
    background: #fff url('../img/house1.jpg') no-repeat 0% 50%;
    background-size: auto 100%;
    position: relative;
    height: 100vh;
    width: calc(100% + 100px); }
    .house .right .floor-selection #floor-selection polygon:hover {
      cursor: pointer; }
    .house .right .floor-selection .polyfloor-pop {
      display: none;
      position: absolute;
      left: 70vh;
      background: #000;
      color: #fff;
      font-size: 14px;
      padding: 12px 40px 12px 15px; }
      .house .right .floor-selection .polyfloor-pop:before {
        width: 5px;
        height: 10px;
        top: 30px;
        left: -5px;
        position: absolute;
        content: " ";
        background: url(../img/bubble-arrow.svg) no-repeat;
        background-position: center; }
      .house .right .floor-selection .polyfloor-pop:after {
        width: 43px;
        height: 43px;
        right: -22px;
        top: 11px;
        position: absolute;
        content: " ";
        background: url(../img/floor-icon.svg) no-repeat;
        background-position: center; }
      .house .right .floor-selection .polyfloor-pop.pop-a9 {
        top: 25%;
        top: 25vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a8 {
        top: 31.5%;
        top: 31.5vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a7 {
        top: 37%;
        top: 37vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a6 {
        top: 43%;
        top: 43vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a5 {
        top: 49%;
        top: 49vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a4 {
        top: 55%;
        top: 55vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a3 {
        top: 60.5%;
        top: 60.5vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a2 {
        top: 67%;
        top: 67vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a1 {
        top: 72%;
        top: 72vh; }
      .house .right .floor-selection .polyfloor-pop.pop-a0 {
        top: 78%;
        top: 78vh; }
  .house .right .floor-page {
    background: #fff;
    width: calc(100% + 100px);
    height: 100vh; }
    .house .right .floor-page .top-text {
      line-height: 18px;
      padding: 30px 27px; }
      .house .right .floor-page .top-text h3 {
        font-weight: 600; }
  .house .right .flat-page {
    background: #fff;
    width: calc(100% + 100px);
    display: block;
    float: left;
    height: 100vh; }
    .house .right .flat-page .flat-top {
      position: relative;
      padding: 24px 30px;
      text-align: right; }
      .house .right .flat-page .flat-top .back-to-floor {
        display: block;
        float: left;
        padding-top: 14px;
        text-decoration: none;
        color: #1d1d1b; }
        .house .right .flat-page .flat-top .back-to-floor .back-arr {
          display: block;
          float: left;
          border: solid 2px #1d1d1b;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-top: -14px;
          margin-right: 15px;
          background: rgba(29, 29, 27, 0) url("../img/back.svg") no-repeat 50% 50%;
          background-size: 25.5px;
          transition: all .2s; }
        .house .right .flat-page .flat-top .back-to-floor:hover .back-arr {
          background-color: rgba(29, 29, 27, 0.1); }
        .house .right .flat-page .flat-top .back-to-floor:active .back-arr {
          background: #1d1d1b url("../img/back-white.svg") no-repeat 50% 50%;
          background-size: 25.5px; }
      .house .right .flat-page .flat-top h1 {
        font-size: 36px;
        margin-top: -2px;
        padding-right: 59px;
        text-transform: uppercase;
        color: #000; }
      .house .right .flat-page .flat-top .flat-price {
        padding-right: 57px;
        font-size: 24px;
        margin-top: 8px; }
      .house .right .flat-page .flat-top .view-switch {
        display: block;
        position: absolute;
        width: 78px;
        border: solid 1px #d2d2d1;
        border-radius: 15px;
        background: #f2f2f2;
        bottom: -23px;
        height: 22px;
        cursor: pointer; }
        .house .right .flat-page .flat-top .view-switch.active span.view-switch-button {
          left: 40px; }
        .house .right .flat-page .flat-top .view-switch > span {
          position: absolute; }
          .house .right .flat-page .flat-top .view-switch > span.view-switch-button {
            border-radius: 15px;
            background: #fff;
            width: 38px;
            height: 22px;
            top: 0;
            left: 0;
            transition: all .2s; }
          .house .right .flat-page .flat-top .view-switch > span.threed-text {
            left: 10px;
            top: 3px;
            z-index: 4; }
          .house .right .flat-page .flat-top .view-switch > span.twod-text {
            left: 50px;
            top: 3px;
            z-index: 4; }
      .house .right .flat-page .flat-top .compass {
        position: absolute;
        right: 87px;
        bottom: -60px;
        height: 68px;
        width: 68px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
        .house .right .flat-page .flat-top .compass.pv {
          background-image: url('../img/compass-pv.png'); }
    .house .right .flat-page .flat-content {
      padding: 0 50px; }
      .house .right .flat-page .flat-content .flat-image {
        width: 100%;
        max-width: 550px;
        margin: 5vh auto 0 auto;
        height: 350px;
        height: 45vh; }
        .house .right .flat-page .flat-content .flat-image > div {
          height: inherit;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50% 50%; }
          .house .right .flat-page .flat-content .flat-image > div.twod-img {
            display: none; }
      .house .right .flat-page .flat-content .flat-details {
        padding-top: 3%;
        overflow: hidden;
        *zoom: 1; }
        .house .right .flat-page .flat-content .flat-details .col {
          display: block;
          float: left;
          width: 30%; }
          .house .right .flat-page .flat-content .flat-details .col > p > span {
            font-weight: 600; }
        .house .right .flat-page .flat-content .flat-details .button {
          border-color: #1d1d1b;
          color: #1d1d1b;
          font-weight: 300;
          margin-top: 0;
          margin-bottom: 17px;
          padding: 9px 20px;
          width: 160px;
          font-size: 14px; }
          @media screen and (max-width: 1024px) {
            .house .right .flat-page .flat-content .flat-details .button {
              width: 90%; } }
          .house .right .flat-page .flat-content .flat-details .button:hover {
            background: rgba(30, 30, 28, 0.1);
            color: #1e1e1c; }
          .house .right .flat-page .flat-content .flat-details .button:active {
            background: #1e1e1c;
            color: #fff; }

#about {
  background-color: #e4a101;
  color: #fff; }
  @media screen and (min-width: 769px) {
    #about .column h2 {
      padding-top: 6.5vh; }
    #about .column .button {
      margin-top: 1vh; } }
  #about .feature {
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100%+20px);
    overflow: hidden;
    *zoom: 1; }
    #about .feature .feature-head {
      display: block;
      overflow: hidden;
      *zoom: 1; }
    #about .feature h3 {
      font-weight: 600;
      line-height: 1.5;
      display: block;
      float: left; }
    #about .feature .feature-toggle {
      display: block;
      float: right;
      background: url(../img/mob-arr-right.svg) no-repeat 50% 50%;
      background-size: 4px;
      width: 16px;
      height: 16px;
      border: solid 2px #fff;
      border-radius: 50%; }
    #about .feature .feature-desc {
      padding-top: 26px;
      display: none; }
    #about .feature:hover .feature-toggle, #about .feature .active .feature-toggle {
      background-image: url(../img/mob-arr-right-orange.svg);
      background-color: #fff; }
  #about .desk-features {
    display: block;
    height: 100%;
    overflow: visible;
    position: relative;
    overflow: hidden;
    *zoom: 1; }
    #about .desk-features .feature-scroll {
      padding-top: 40px;
      padding-bottom: 40px; }
    #about .desk-features .feature-row {
      padding-top: 20px;
      line-height: 24px;
      max-width: 54vw; }
      #about .desk-features .feature-row .feature-icon {
        display: block;
        float: left;
        padding-left: 20px;
        padding-right: 20px; }
      #about .desk-features .feature-row h4 {
        padding-top: 6px;
        font-weight: 600; }
      #about .desk-features .feature-row .feature-text {
        margin-left: 125px; }
    #about .desk-features .iScrollVerticalScrollbar, #about .desk-features .iScrollLoneScrollbar {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 10px !important;
      top: 50px !important;
      width: 10px !important;
      right: 15px !important;
      height: 90vh !important; }
      #about .desk-features .iScrollVerticalScrollbar .iScrollIndicator, #about .desk-features .iScrollLoneScrollbar .iScrollIndicator {
        border-radius: 10px !important;
        background: white !important; }
  #about .button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff; }
  #about .button:active {
    color: #e4a101;
    background: #fff; }

#location {
  background: #fff;
  color: #000; }
  #location .column a.button {
    border-color: #1e1e1c;
    color: #1e1e1c; }
    #location .column a.button:hover {
      background-color: #1e1e1c;
      color: #fff; }
  @media screen and (min-width: 769px) {
    #location .column h2 {
      padding-top: 30.4vh;
      padding-bottom: 9.2vh; } }

#map-canvas {
  height: 100vh; }

.bubble-info {
  display: block;
  float: left;
  padding: 10px 12px;
  color: #fff;
  background: #1e1e1c; }

.bubble-arrow {
  display: block;
  float: left;
  width: 5px;
  height: 36px;
  background: url('../img/bubble-arrow.svg') no-repeat; }

#gallery {
  background-color: #1e1e1c;
  color: #fff;
  position: relative; }
  @media screen and (min-width: 769px) {
    #gallery h2 {
      padding-top: 38vh;
      padding-bottom: 10vh; } }
  #gallery .column {
    padding: 0;
    width: 100%;
    z-index: 99; }
    @media screen and (min-width: 769px) {
      #gallery .column {
        z-index: 55;
        position: absolute;
        background-color: #1e1e1c;
        width: 280px;
        padding-left: 40px;
        padding-right: 40px; } }
    #gallery .column h2, #gallery .column .column-text {
      padding-left: 20px;
      padding-right: 20px; }
  #gallery .gallery-container {
    height: 338px; }
    @media screen and (min-width: 769px) {
      #gallery .gallery-container {
        margin: 0; } }
    #gallery .gallery-container .scroller {
      height: 338px;
      width: 800vw;
      font-size: 0; }
      @media screen and (min-width: 769px) {
        #gallery .gallery-container .scroller {
          padding-left: 360px; } }
      #gallery .gallery-container .scroller .slide {
        height: 100%;
        width: 100vw;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        letter-spacing: normal;
        word-spacing: normal; }
  #gallery .gallery-navigation {
    text-align: center;
    z-index: 3; }
    @media screen and (min-width: 769px) {
      #gallery .gallery-navigation {
        position: absolute;
        top: 48%;
        right: 0;
        z-index: 50;
        background: #1e1e1c; } }
    #gallery .gallery-navigation span {
      display: inline-block; }
    #gallery .gallery-navigation .arr-left {
      margin: 10px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: solid 2px #fff;
      background: url(../img/mob-arr-left.svg) no-repeat 50% 50%;
      background-color: inherit;
      background-size: 8px;
      cursor: pointer; }
      #gallery .gallery-navigation .arr-left:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      #gallery .gallery-navigation .arr-left:active {
        background: url(../img/mob-arr-left-black.svg) no-repeat 50% 50%;
        background-size: 8px;
        background-color: white; }
    #gallery .gallery-navigation .slidecount {
      white-space: nowrap;
      -webkit-transform: translate(0, -180%);
      -moz-transform: translate(0, -180%);
      -ms-transform: translate(0, -180%);
      -o-transform: translate(0, -180%);
      transform: translate(0, -180%); }
    #gallery .gallery-navigation .arr-right {
      cursor: pointer;
      margin: 10px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: solid 2px #fff;
      background: url(../img/mob-arr-right.svg) no-repeat 50% 50%;
      background-color: inherit;
      background-size: 8px; }
      #gallery .gallery-navigation .arr-right:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      #gallery .gallery-navigation .arr-right:active {
        background: url(../img/mob-arr-right-black.svg) no-repeat 50% 50%;
        background-size: 8px;
        background-color: white; }

#contacts {
  background-color: #24383d;
  color: #fff; }
  @media screen and (min-width: 769px) {
    #contacts h2 {
      padding-top: 7vh; } }
  #contacts .column {
    padding-bottom: 20px; }
    #contacts .column #contactform input[type="text"], #contacts .column #contactform textarea {
      font-family: 'Source Sans Pro';
      border: solid 1px #415f67;
      background: transparent;
      width: calc(100% - 38px);
      color: #fff;
      padding: 14px 19px;
      font-size: 16px;
      display: block;
      margin-bottom: 30px;
      overflow: hidden;
      *zoom: 1; }
    #contacts .column #contactform ::-webkit-input-placeholder {
      color: #fff;
      font-weight: 300; }
    #contacts .column #contactform :-moz-placeholder {
      color: #fff;
      font-weight: 300; }
    #contacts .column #contactform ::-moz-placeholder {
      color: #fff;
      font-weight: 300; }
    #contacts .column #contactform :-ms-input-placeholder {
      color: #fff;
      font-weight: 300; }
    #contacts .column #contactform .button:hover {
      background: rgba(255, 255, 255, 0.1);
      color: #fff; }
    #contacts .column #contactform .button:active {
      background: #fff;
      color: #24383d; }
    #contacts .column #contactform textarea {
      margin-bottom: 16vh; }
      @media screen and (max-width: 768px) {
        #contacts .column #contactform textarea {
          margin-bottom: 30px; } }
    @media screen and (min-width: 769px) {
      #contacts .column #contactform {
        padding-top: 3vh; } }
  #contacts .brokers {
    text-align: center;
    line-height: 1.5; }
    @media screen and (min-width: 769px) {
      #contacts .brokers {
        padding-left: 1.6vw;
        text-align: left; } }
    #contacts .brokers h3 {
      font-size: 36px;
      padding-top: 7vh;
      line-height: 30px;
      padding-bottom: 3.7vh; }
    @media screen and (min-width: 769px) {
      #contacts .brokers .broker {
        display: block;
        float: left;
        width: 43%; } }
    #contacts .brokers .broker img {
      margin-top: 20px;
      margin-bottom: 30px;
      border-radius: 50%; }
      @media screen and (min-width: 769px) {
        #contacts .brokers .broker img {
          display: block;
          float: left;
          margin-right: 13px; } }
    #contacts .brokers .broker .brokername {
      font-weight: 600; }
      @media screen and (min-width: 769px) {
        #contacts .brokers .broker .brokername {
          padding-top: 22px;
          min-width: 300px; } }
    #contacts .brokers .broker .brokerinfo {
      color: #6d8a91;
      margin-bottom: 15px; }

.sidemenu {
  z-index: 32;
  position: fixed;
  right: -260px;
  top: 0;
  width: 260px;
  background-color: #1d1d1b;
  height: 100%;
  line-height: 36px;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  transition: all .3s; }
  @media screen and (min-width: 769px) {
    .sidemenu {
      right: -400px;
      width: 400px; } }
  .sidemenu.expanded {
    right: 0; }
  .sidemenu .menu-close {
    cursor: pointer;
    position: relative;
    background: url(../img/close.svg) no-repeat 215px 20px;
    background-size: 16px;
    height: 92px;
    width: 100%; }
    @media screen and (min-width: 769px) {
      .sidemenu .menu-close {
        background: url(../img/close.svg) no-repeat 365px 20px;
        background-size: 16px; } }
  @media screen and (min-width: 769px) {
    .sidemenu ul {
      padding-top: 25%;
      padding-top: 12.5vh;
      padding-left: 2%; } }
  .sidemenu ul li {
    padding: 18px 30px; }
    .sidemenu ul li a {
      color: #fff;
      text-decoration: none; }

.overlay {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 35;
  top: 0; }
  .overlay h3, .overlay p, .overlay .floor-select {
    padding: 20px; }
  .overlay h3 {
    font-size: 21px;
    font-weight: 600;
    padding: 19px;
    border-bottom: solid 1px #d4d4d4; }
  .overlay .overlay-close {
    cursor: pointer;
    position: absolute;
    width: 56px;
    height: 56px;
    top: 0;
    right: 0;
    background: url(../img/close-black.svg) no-repeat 50% 50%;
    background-size: 15px; }

#flats {
  display: none;
  padding-left: 0;
  transition: all .5s;
  overflow-y: scroll; }
  #flats.filtered {
    padding-left: 259px; }
    #flats.filtered .filtering {
      margin-left: 0; }
  #flats .flats .floor-select {
    padding-top: 3px;
    overflow: hidden;
    *zoom: 1; }
    #flats .flats .floor-select span {
      display: block;
      float: left;
      padding-top: 15px; }
    #flats .flats .floor-select .flatid {
      float: left;
      border: solid 2px #1d1d1b;
      color: #1d1d1b;
      border-radius: 50px;
      width: 44px;
      background-color: transparent;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 14px 0;
      transition: all .2s;
      margin-left: 20px; }
      #flats .flats .floor-select .flatid:hover, #flats .flats .floor-select .flatid.active {
        background-color: black;
        color: #fff; }
  #flats .flats .button {
    border: solid 2px #1d1d1b;
    color: #1d1d1b;
    margin-left: auto; }
    #flats .flats .button:hover {
      background-color: black;
      color: #fff; }
  #flats .flats .flat-table .row {
    padding: 0 6%;
    overflow: hidden;
    *zoom: 1;
    border-bottom: solid 1px #d4d4d4; }
    #flats .flats .flat-table .row.active .flat-span {
      background: #1d1d1b;
      color: #fff; }
      #flats .flats .flat-table .row.active .flat-span .apt-more {
        background: url('../img/mob-arr-down.svg') no-repeat 50% 50%;
        background-size: 10px;
        border-color: #fff; }
    #flats .flats .flat-table .row.head-row {
      font-weight: 600; }
      #flats .flats .flat-table .row.head-row > div {
        display: inline-block;
        padding-bottom: 20px; }
    #flats .flats .flat-table .row .flat-span {
      margin-left: -6%;
      margin-right: -6%;
      padding-left: 6%;
      padding-right: 6%; }
      #flats .flats .flat-table .row .flat-span > div {
        display: inline-block;
        padding-bottom: 20px; }
    #flats .flats .flat-table .row .floor {
      width: 26%; }
    #flats .flats .flat-table .row .space {
      width: 31%; }
    #flats .flats .flat-table .row .price {
      width: 31%;
      font-weight: 600; }
    #flats .flats .flat-table .row .rooms {
      margin: -1px;
      padding: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip: rect(0, 0, 0, 0);
      position: absolute;
      background: transparent;
      color: transparent; }
    #flats .flats .flat-table .row.flat-row .apt-more {
      background: url('../img/mob-arr-right-black.svg') no-repeat 50% 50%;
      background-size: 5px;
      width: 20px;
      height: 20px;
      border: solid 2px #000;
      border-radius: 24px;
      padding-right: 0;
      -webkit-transform: translate(0, 100%);
      -moz-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
      -o-transform: translate(0, 100%);
      transform: translate(0, 100%); }
    #flats .flats .flat-table .row.flat-row .flat-content {
      display: none;
      border-top: solid 1px #d4d4d4;
      width: calc(112%);
      margin-left: -6%;
      padding: 6%; }
      #flats .flats .flat-table .row.flat-row .flat-content p {
        padding: 0; }
        #flats .flats .flat-table .row.flat-row .flat-content p > span {
          font-weight: 600; }
      #flats .flats .flat-table .row.flat-row .flat-content .flat3d {
        margin: 20px auto;
        width: calc(100% - 40px); }
      #flats .flats .flat-table .row.flat-row .flat-content .floor-plan-container {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        width: calc(100% - 40px); }
        #flats .flats .flat-table .row.flat-row .flat-content .floor-plan-container .flat-marker {
          position: absolute;
          width: 44px;
          top: 0;
          left: 0;
          -webkit-transform: translate(-22px, -54px);
          -moz-transform: translate(-22px, -54px);
          -ms-transform: translate(-22px, -54px);
          -o-transform: translate(-22px, -54px);
          transform: translate(-22px, -54px);
          height: 54px;
          background: url(../img/flat-marker.png) no-repeat;
          background-size: 44px 52px; }
          @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            #flats .flats .flat-table .row.flat-row .flat-content .floor-plan-container .flat-marker {
              background-image: url('../img/2x/flat-marker.png'); } }
        #flats .flats .flat-table .row.flat-row .flat-content .floor-plan-container .floor-plan {
          width: 100%; }
  #flats .filtering {
    transition: all .5s;
    margin-left: -259px;
    left: 0px;
    position: absolute;
    background: #1d1d1b;
    color: #fff;
    height: 100%;
    width: 259px;
    overflow-y: visible; }
    #flats .filtering .filter-back {
      text-align: right;
      padding: 19px 55px;
      font-size: 21px;
      background: url(../img/back.png) no-repeat 220px 17px; }
    #flats .filtering .filter-block {
      border-top: solid 1px #30302e;
      padding: 13px 31px; }
      #flats .filtering .filter-block .filter * {
        display: inline-block; }
      #flats .filtering .filter-block .filter .filter-label {
        font-weight: 600;
        width: 42px;
        -webkit-transform: translate(0, -100%);
        -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        -o-transform: translate(0, -100%);
        transform: translate(0, -100%); }
      #flats .filtering .filter-block .filter .filter-actions {
        padding: 16px 0; }
        #flats .filtering .filter-block .filter .filter-actions .filter-less {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          border: solid 2px #fff;
          background: url(../img/mob-arr-left.svg) no-repeat 50% 50%;
          background-size: 8px; }
        #flats .filtering .filter-block .filter .filter-actions .filter-value {
          text-align: center;
          width: 60px;
          -webkit-transform: translate(0, -100%);
          -moz-transform: translate(0, -100%);
          -ms-transform: translate(0, -100%);
          -o-transform: translate(0, -100%);
          transform: translate(0, -100%); }
          #flats .filtering .filter-block .filter .filter-actions .filter-value span {
            display: none; }
            #flats .filtering .filter-block .filter .filter-actions .filter-value span.selected {
              display: inline-block; }
        #flats .filtering .filter-block .filter .filter-actions .filter-more {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          border: solid 2px #fff;
          background: url(../img/mob-arr-right.svg) no-repeat 50% 50%;
          background-size: 8px; }
      #flats .filtering .filter-block .button {
        width: 194px; }

#flat-list {
  background: #fff;
  position: relative; }
  #flat-list a {
    color: #1d1d1b;
    text-decoration: none; }
  #flat-list .flat-overlay-row {
    border-bottom: solid 1px #d4d4d4; }
    #flat-list .flat-overlay-row .flat-list-head {
      width: 100%;
      overflow: hidden;
      *zoom: 1; }
      #flat-list .flat-overlay-row .flat-list-head .flats-list-close {
        margin: 24px 0 0 20px;
        cursor: pointer;
        position: absolute;
        height: inherit;
        padding-top: 14px; }
        #flat-list .flat-overlay-row .flat-list-head .flats-list-close > span {
          padding: 11px 12px;
          border: solid 2px #1e1e1c;
          border-radius: 48px;
          margin-right: 12px; }
          #flat-list .flat-overlay-row .flat-list-head .flats-list-close > span svg path {
            fill: #1e1e1c;
            transition: all .3s; }
        #flat-list .flat-overlay-row .flat-list-head .flats-list-close:hover span {
          background: rgba(29, 29, 27, 0.1); }
        #flat-list .flat-overlay-row .flat-list-head .flats-list-close:active span {
          background: #1e1e1c; }
          #flat-list .flat-overlay-row .flat-list-head .flats-list-close:active span svg path {
            fill: #fff; }
      #flat-list .flat-overlay-row .flat-list-head h1 {
        width: auto;
        margin: 30px;
        font-size: 36px;
        font-weight: 300;
        text-align: right; }
    #flat-list .flat-overlay-row .flat-list-filters {
      color: #1d1d1b;
      padding: 1.7% 2.1% 2.3% 1.6%; }
      #flat-list .flat-overlay-row .flat-list-filters > * {
        display: inline-block; }
      #flat-list .flat-overlay-row .flat-list-filters .filter-key {
        padding: 12px 5px 0 8px;
        display: inline-block; }
      #flat-list .flat-overlay-row .flat-list-filters .flat-list-house-sel .house-id {
        border-radius: 50%;
        padding: 12px 18px;
        border: solid 2px #1d1d1b;
        margin-left: 9px;
        color: #1d1d1b; }
        #flat-list .flat-overlay-row .flat-list-filters .flat-list-house-sel .house-id:hover {
          background: #e8e8e8; }
        #flat-list .flat-overlay-row .flat-list-filters .flat-list-house-sel .house-id:active, #flat-list .flat-overlay-row .flat-list-filters .flat-list-house-sel .house-id.selected {
          color: #fff;
          background: #1d1d1b; }
      #flat-list .flat-overlay-row .flat-list-filters .filter-group {
        position: relative; }
        #flat-list .flat-overlay-row .flat-list-filters .filter-group .filter-value {
          width: 103px;
          display: inline-block;
          border: solid 1px #232321;
          padding: 8px 6px;
          line-height: 16px;
          cursor: pointer;
          background: url(../img/filter-dropdown.png) no-repeat 90% 50%; }
        #flat-list .flat-overlay-row .flat-list-filters .filter-group .filter-dropdown {
          cursor: pointer;
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 10px;
          width: 115px;
          padding-top: 35px; }
          #flat-list .flat-overlay-row .flat-list-filters .filter-group .filter-dropdown.open {
            display: block; }
          #flat-list .flat-overlay-row .flat-list-filters .filter-group .filter-dropdown ul {
            background: #fff;
            border: solid 1px #232321; }
            #flat-list .flat-overlay-row .flat-list-filters .filter-group .filter-dropdown ul li {
              padding: 8px 6px; }
              #flat-list .flat-overlay-row .flat-list-filters .filter-group .filter-dropdown ul li:hover {
                font-weight: 600; }
          #flat-list .flat-overlay-row .flat-list-filters .filter-group .filter-dropdown .filter-caret {
            width: 8px;
            height: 5px;
            position: absolute;
            right: 10px;
            background: url(../img/list-caret.png) no-repeat;
            z-index: 2;
            top: 31px; }
      #flat-list .flat-overlay-row .flat-list-filters .desk-filter-btn {
        color: #1e1e1c;
        border-color: #1e1e1c;
        cursor: pointer;
        margin-top: 22px;
        padding: 8px 22px;
        width: auto;
        float: right;
        margin: 0; }
        #flat-list .flat-overlay-row .flat-list-filters .desk-filter-btn:hover {
          background: rgba(30, 30, 28, 0.1); }
        #flat-list .flat-overlay-row .flat-list-filters .desk-filter-btn:active, #flat-list .flat-overlay-row .flat-list-filters .desk-filter-btn.active {
          background: #1e1e1c;
          color: #fff; }
  #flat-list .flats .flat-table {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; }
    #flat-list .flats .flat-table a {
      color: #1d1d1b;
      display: block; }
    @media screen and (max-width: 1000px) {
      #flat-list .flats .flat-table {
        width: 100%; } }
    #flat-list .flats .flat-table .head-row {
      font-weight: 600;
      padding: 28px 0 22px 0 !important; }
    #flat-list .flats .flat-table .row {
      padding: 20px 0 32px 0;
      border-bottom: solid 1px #d4d4d4; }
      #flat-list .flats .flat-table .row > * {
        margin-right: -4px;
        display: inline-block; }
      #flat-list .flats .flat-table .row .floor {
        width: 9%; }
      #flat-list .flats .flat-table .row .rooms {
        width: 16.2%; }
      #flat-list .flats .flat-table .row .space {
        width: 12%; }
      #flat-list .flats .flat-table .row .balc {
        width: 10%; }
      #flat-list .flats .flat-table .row .direction {
        width: 14%; }
      #flat-list .flats .flat-table .row .price {
        width: 10.1%;
        font-weight: 600; }
      #flat-list .flats .flat-table .row .flatid {
        width: 13.2%; }
      #flat-list .flats .flat-table .row .status {
        width: 13.2%; }

#landing.slideleft {
  transition: all .3s;
  margin-left: -360px; }
  #landing.slideleft #slide-overlay {
    display: block; }
    #landing.slideleft #slide-overlay .slide-side {
      right: 0px;
      transition: all .3s; }
#landing #slide-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(30, 30, 28, 0.6);
  top: 0;
  left: 0; }
  #landing #slide-overlay .slide-side {
    transition: all .3s;
    position: absolute;
    right: -360px;
    top: 0;
    display: block;
    width: 360px;
    height: 100%;
    transition: all .3s;
    background: #fff; }
    @media screen and (max-width: 1024px) {
      @media screen and (max-height: 768px) {
        #landing #slide-overlay .slide-side {
          margin-right: -360px; } } }
    #landing #slide-overlay .slide-side .close-side {
      margin-top: 23px;
      margin-left: 30px;
      cursor: pointer;
      position: absolute;
      padding: 14px 14px;
      border: solid 2px #1e1e1c;
      border-radius: 48px;
      margin-right: 12px; }
      #landing #slide-overlay .slide-side .close-side svg path {
        fill: #1e1e1c;
        transition: all .3s; }
      #landing #slide-overlay .slide-side .close-side:hover {
        background: rgba(29, 29, 27, 0.1); }
      #landing #slide-overlay .slide-side .close-side:active {
        background: #1e1e1c; }
        #landing #slide-overlay .slide-side .close-side:active svg path {
          fill: #fff; }
    #landing #slide-overlay .slide-side h3 {
      display: block;
      float: right;
      font-size: 36px;
      margin-right: 8px; }
    #landing #slide-overlay .slide-side .contact-broker {
      padding: 30px; }
      #landing #slide-overlay .slide-side .contact-broker .broker {
        display: block;
        float: left;
        padding-top: 10px; }
        #landing #slide-overlay .slide-side .contact-broker .broker img {
          margin-top: 20px;
          margin-bottom: 30px;
          border-radius: 50%;
          display: block;
          float: left;
          margin-right: 13px;
          border: solid 3px #e0e0e0; }
        #landing #slide-overlay .slide-side .contact-broker .broker .brokername {
          font-weight: 600;
          padding-top: 30px;
          min-width: 300px;
          margin-bottom: 4px; }
        #landing #slide-overlay .slide-side .contact-broker .broker .brokerinfo {
          line-height: 24px;
          color: #6d8a91; }
      #landing #slide-overlay .slide-side .contact-broker #brokerform {
        display: block;
        padding-top: 25vh; }
        #landing #slide-overlay .slide-side .contact-broker #brokerform input[type="text"], #landing #slide-overlay .slide-side .contact-broker #brokerform textarea {
          font-family: 'Source Sans Pro';
          border: solid 1px #e0e0e0;
          background: transparent;
          color: #000;
          padding: 15px 19px;
          font-size: 16px;
          display: block;
          margin-bottom: 30px;
          width: 250px;
          font-weight: 300;
          overflow: hidden;
          *zoom: 1; }
        #landing #slide-overlay .slide-side .contact-broker #brokerform ::-webkit-input-placeholder {
          color: #000;
          font-weight: 300; }
        #landing #slide-overlay .slide-side .contact-broker #brokerform :-moz-placeholder {
          color: #000;
          font-weight: 300; }
        #landing #slide-overlay .slide-side .contact-broker #brokerform ::-moz-placeholder {
          color: #000;
          font-weight: 300; }
        #landing #slide-overlay .slide-side .contact-broker #brokerform :-ms-input-placeholder {
          color: #000;
          font-weight: 300; }
        #landing #slide-overlay .slide-side .contact-broker #brokerform .button {
          color: #1d1d1b;
          border-color: #1d1d1b;
          transition: all .3s; }
          #landing #slide-overlay .slide-side .contact-broker #brokerform .button:hover {
            background: rgba(29, 29, 27, 0.1); }
          #landing #slide-overlay .slide-side .contact-broker #brokerform .button:active {
            background: #1e1e1c;
            color: #fff; }
        #landing #slide-overlay .slide-side .contact-broker #brokerform textarea {
          height: 20vh; }
    #landing #slide-overlay .slide-side .similar {
      padding: 30px; }
      #landing #slide-overlay .slide-side .similar a {
        color: #1d1d1b;
        text-decoration: none; }
      #landing #slide-overlay .slide-side .similar .flat-table {
        padding-top: 88px; }
        #landing #slide-overlay .slide-side .similar .flat-table .row {
          width: 100%;
          overflow: hidden;
          *zoom: 1;
          border-bottom: solid 1px #d4d4d4; }
          #landing #slide-overlay .slide-side .similar .flat-table .row.active .flat-span {
            background: #1d1d1b;
            color: #fff; }
            #landing #slide-overlay .slide-side .similar .flat-table .row.active .flat-span .apt-more {
              background: url('../img/mob-arr-down.svg') no-repeat 50% 50%;
              background-size: 10px;
              border-color: #fff; }
          #landing #slide-overlay .slide-side .similar .flat-table .row.head-row {
            font-weight: 600; }
            #landing #slide-overlay .slide-side .similar .flat-table .row.head-row > div {
              display: inline-block;
              padding-bottom: 23px; }
          #landing #slide-overlay .slide-side .similar .flat-table .row .floor {
            width: 26%; }
          #landing #slide-overlay .slide-side .similar .flat-table .row .rooms {
            width: 30%; }
          #landing #slide-overlay .slide-side .similar .flat-table .row .space {
            width: 31%; }
          #landing #slide-overlay .slide-side .similar .flat-table .row .price {
            width: 31%;
            font-weight: 600; }
          #landing #slide-overlay .slide-side .similar .flat-table .row.flat-row > div {
            display: inline-block;
            padding-bottom: 23px; }
          #landing #slide-overlay .slide-side .similar .flat-table .row.flat-row .apt-more {
            background: url('../img/mob-arr-right-black.svg') no-repeat 50% 50%;
            background-size: 5px;
            width: 20px;
            height: 20px;
            border: solid 2px #000;
            border-radius: 24px;
            padding-right: 0;
            -webkit-transform: translate(0, 100%);
            -moz-transform: translate(0, 100%);
            -ms-transform: translate(0, 100%);
            -o-transform: translate(0, 100%);
            transform: translate(0, 100%); }

#mob-map {
  background: #fff; }

@media screen and (max-width: 768px) {
  .if-desk {
    display: none; } }

@media screen and (min-width: 769px) {
  .if-mob {
    display: none; } }

.filtered-out {
  display: none; }

.flat-table-error {
  display: none; }

.tablet-err {
  background: #1d1d1b;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 36;
  display: none; }
  .tablet-err .err-in {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .tablet-err .err-in img {
      margin-bottom: 30px; }

.flat-mark {
  position: absolute; }
  .flat-mark:after {
    content: '';
    position: absolute;
    right: -24px;
    top: -24px;
    width: 18px;
    height: 18px; }
  .flat-mark .floor-circle {
    position: absolute;
    top: -24px;
    left: -24px; }
    .flat-mark .floor-circle:active .circle .circle-in {
      background: #000; }
    .flat-mark .floor-circle .circle {
      font-size: 12px;
      cursor: pointer;
      text-align: center;
      padding: 6px;
      width: 36px;
      border-radius: 50%;
      height: 36px;
      background: rgba(0, 0, 0, 0.4); }
      .flat-mark .floor-circle .circle .circle-in {
        padding-top: 12px;
        width: 36px;
        height: 24px;
        border-radius: 50%;
        background: #fff; }
        .flat-mark .floor-circle .circle .circle-in:active {
          background: #000; }
    .flat-mark .floor-circle .floor-pop-snap {
      position: relative; }
      .flat-mark .floor-circle .floor-pop-snap .floor-pop {
        text-align: left;
        font-size: 14px;
        min-width: 153px;
        color: #fff;
        padding: 15px 12px;
        background: rgba(11, 22, 30, 0.8);
        top: -65px;
        left: 58px;
        position: absolute;
        width: auto;
        opacity: 0;
        display: none;
        z-index: 2; }
        .flat-mark .floor-circle .floor-pop-snap .floor-pop:before {
          content: '';
          width: 5px;
          height: 10px;
          position: absolute;
          left: -5px;
          top: 40%;
          background: url('../img/pop-snap.svg') no-repeat; }
  .flat-mark.hovered .circle .circle-in {
    background: rgba(0, 0, 0, 0.4);
    color: #fff; }
  .flat-mark.hovered .floor-pop-snap .floor-pop {
    display: block;
    opacity: 1; }
  .flat-mark.reserved:after {
    background: url(../img/iconreserved.svg); }
  .flat-mark.sold .circle .circle-in:active {
    background: #bebebe; }
  .flat-mark.sold:active .circle .circle-in {
    background: #bebebe; }
  .flat-mark.sold:after {
    background: url(../img/iconsold.svg); }
  .flat-mark.sold .circle .circle-in {
    background: #bebebe;
    color: rgba(29, 29, 27, 0.4); }
  .flat-mark.sold .floor-pop-snap {
    position: relative; }
    .flat-mark.sold .floor-pop-snap .floor-pop {
      opacity: 0;
      display: none; }

.floor-plan {
  position: relative;
  margin: 35px auto 80px auto;
  width: 100%; }
  @media screen and (max-height: 780px) {
    .floor-plan {
      margin-top: -20px;
      width: 75%; } }
  .floor-plan svg {
    position: absolute;
    width: 100%; }
    .floor-plan svg path {
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
