/* all of the custom mixins */
/* IE specific mixins */

@mixin ie7() {
  .ie7 & {
    @content;
  }
}

@mixin ie8() {
  .ie8 & {
    @content;
  }
}

@mixin ie9() {
  .ie9 & {
    @content;
  }
}
/* clearfix */

@mixin clearfix () {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
  }
}

@mixin maxw($maxwidth) {
  @media screen and (max-width: $maxwidth) {
    & {
      @content;
    }
  }
}

@mixin maxh($maxheight) {
  @media screen and (max-height: $maxheight) {
    & {
      @content;
    }
  }
}

@mixin minw($minwidth) {
  @media screen and (min-width: $minwidth) {
    & {
      @content;
    }
  }
}

@mixin minh($minheight) {
  @media screen and (min-height: $minheight) {
    & {
      @content;
    }
  }
}

@mixin ie() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    & {
      @content;
    }
  }
}

@mixin translate($x:0, $y:0) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin scale($x) {
  -webkit-transform: scale($x);
  -moz-transform: scale($x);
  -o-transform: scale($x);
  transform: scale($x);
}

//retina images:
@mixin retina($filename,
$filetype: png) {
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    & {
      background-image: url('../img/2x/' + $filename + '.' + $filetype);
    }
  }
}

// placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

// visuall hidden:
@mixin hide {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
  background: transparent;
  color: transparent;
}
