#outdated {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  letter-spacing: 1px;
  display: none;
  background-color: #f2b635;
  color: #fff;
  .outdatedbrowser-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 19px;
    #outdatedbrowser-close {
      font-size: 40px;
      z-index: 20;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 70px;
      line-height: 70px;
      color: #fff
    }
    div {
      margin: 0 auto 2px;
      text-align: center;
      font-size: 19px;
      font-weight: 800
    }
    p {
      font-size: 12px;
      margin: 0 70px;
      text-align: center;
      font-weight: 300
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: '';
      width: 100%;
      height: 100%
    }
  }
  .outdatedbrowser-blocks {
    >div {
      width: 20.1%;
      height: 100%;
      position: absolute;
      background: red;
      >div {
        position: absolute;
        top: 35%;
        left: 0;
        width: 100%;
        height: 40%;
        span {
          display: block;
          position: relative;
          width: 100px;
          height: 100px;
          margin: 0 auto 35px;
          background-image:url(../img/browsers.png);
          background-repeat: no-repeat;
          background-size: auto 95px
        }
        div {
          text-align: center;
          font-size: 15px;
          font-size: 13px;
          margin: 0 10px
        }
        a {
          font-weight: 700;
          font-size: 10px;
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          box-sizing: border-box;
          border-radius: 16px;
          height: 30px;
          margin: 22px auto 0;
          display: block;
          text-align: center;
          line-height: 30px;
          background: #fff;
          color: #f2b635;
          width: 100px
        }
      }
      &.item-1 {
        left: 0;
        background: #f2b635;
        a {
          color: #f2b635
        }
      }
      &.item-2 {
        left: 20%;
        background: #f19a2a;
        >div {
          >span {
            background-position: -100px 0
          }
        }
        a {
          color: #f19a2a
        }
      }
      &.item-3 {
        left: 40%;
        background: #00caff;
        >div {
          >span {
            background-position: -200px 0
          }
        }
        a {
          color: #00caff
        }
      }
      &.item-4 {
        left: 60%;
        background: #00a0e6;
        >div {
          >span {
            background-position: -300px 0
          }
        }
        a {
          color: #00a0e6
        }
      }
      &.item-5 {
        left: 80%;
        background: #f25648;
        >div {
          >span {
            background-position: -400px 0
          }
        }
        a {
          color: #f25648
        }
      }
      &:hover {
        a {
          opacity: 1
        }
      }
    }
    &.hover {
      .item {
        width: 17%;
        &.item-2 {
          left: 17%
        }
        &:hover {
          width: 28%
        }
      }
    }
  }
}

@media(max-width:900px) {
  #outdated .outdatedbrowser-blocks>div>div div {
    height: 30px
  }
}

@media(max-width:768px) {
  #outdated {
    overflow: scroll;
    .outdatedbrowser-header {
      position: relative
    }
    .outdatedbrowser-blocks {
      position: static;
      >div {
        position: static;
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
        >div {
          position: static
        }
      }
    }
  }
}